<!DOCTYPE html>
<html>


<head>

</head>

<body>

<!-- <div id="startText"> wow this is some text lol </div> -->

	<p> <a href="/profile/">Go to profile!</a></p>
	<p> <a href="/logout">Logout</a></p>

    <p> User profile: <b> <%- user.name %> </b> </p>
	
    <p> Marks: <br> </p>
    <!-- stuff here -->

    <p> Following: <br> 
   
    </p>

</body>

<html>