<!DOCTYPE html>
<html>


<head>

</head>

<body>

<!-- <div id="startText"> wow this is some text lol </div> -->

    <p> User profile: <b> <%- user.name %> </b> </p>
    <p> Marks: <br> </p>
    <!-- stuff here -->

    <p> Following: <br> 
   
    </p>

</body>

<html>